@import "iconos.styl"

body
	background-color #fafbfb
	border none

	header	
		margin 0 auto
		width 1148px
		padding 0

		figure a
			display block
			width 300px
			height 60px
			text-decoration none
			margin 45px 0 17px 20px
			padding 0

			img
				display block
				width 255px
				margin 0
				padding 0

		div
			width 400px
			height 60px
			padding 0
			margin -80px 0 17px 0
			float right 

			p, figure, input,button
				display inline-block

			p
				font-family Arial				
				font-weight 400
				font-size 14px
				color #0071b5
				width 170px

			figure
				height 25px
				width 33px
				position relative
				top 7px
				right 5px

				img
					width 100%

			input
				width 150px
				background-color #dfdfdf
				color #4d4d4d
				font-family Arial				
				font-size 0.70em
				border none
				padding 7px 0 7px 5px
				margin 0
				position relative
				right -5px

			button
				border none
				margin 0
				position relative
				top 3px
				left 0px
				padding 5px
				height 26px
				width 28px
				background-color #0071b5

				span
					font-size 1em
					color white

		nav
			width 100%
			height 27px
			padding 0
			border-bottom solid #c5c5c5 1px
			position relative
			z-index 9999


			ul
				padding 0
				margin 0
				display inline-block

				li
					display inline-block
					border-right solid 1px #acacac
					border-left solid 1px white
					text-decoration none
					width 189.5px
					height 28px
					padding 0
					margin 0 -2px
					vertical-align top
					cursor pointer
					
					a
						margin 0
						padding 0
						width 100%
						height 100%
						text-decoration none

						p, img
							display inline-block
							vertical-align middle
							margin 7px 0 

						p
							margin 5px 0 0 23px
							font-family Arial							
							font-size 0.8em
							letter-spacing 1px
							color #4d4d4d
							


						img
							float right
							margin 8px 20px 0 0
							width 13px

						.icoFlechaSelect1, .icoFlechaSelect2, .icoFlechaSelect3, .icoFlechaSelect4
							position relative
							left 33px
							display none


					ul 
						width 200px
						display none
						padding 10px
						margin 0
						background-color #0071b5
						position relative
						top 6px
						z-index 8888

						li
							display block
							width 175px
							margin 0 auto
							border-left none
							border-right none
							border-bottom-style dotted
							border-color white
							border-width 1px
							padding 5px 0 2px 0
							height 22px

							a
								text-decoration none
								font-family Arial								color white
								font-size 0.6em
								margin 0
								padding 0
								vertical-align middle
								color white

							a:hover
								color #f4a93b

						.botonesSx
							border none

				.subnav
					margin-left -30px




	.banner
		width 100%
		height 387px
		margin 10px 0 0 0
		overflow hidden
	
	.contenedor
		width 1150px
		margin 5px auto 0 auto
		padding 0
		
		.gridBAR
			padding 0px 25px 15px 25px
			margin 0

			.botonAccesoRapido
				width 254.5px
				display inline-block
				height 65px
				margin 5px 5px
				padding 3px
				background-color #dfdfdf
				border-radius 3px
				vertical-align top
				box-shadow 0px 3px 3px #acacac
				cursor pointer

				a
					text-decoration none
					width 100%

					h1, p
						float right
						width 190px
						color #4d4d4d
						font-family Arial


					h1
						border-bottom-style dotted
						border-color #4d4d4d
						border-width 1px
						font-size 1em
						margin 10px 10px 0 0
						padding 0

					p 
						font-size 0.8em
						margin -33px 10px 0 0
						padding 0

					img
						width 40px
						display inline-block
						margin 0
						padding 0

					.cruzSelect1, .cruzSelect2, .cruzSelect3, .cruzSelect4 
						position relative
						top -68px
						display none

		.gridContenido
			padding 5px 30px 15px 30px
			margin 0

			.formulario
				display inline-block
				border-radius 7px
				overflow hidden
				width 260px
				margin 0
				padding 0
				box-shadow 0px 2px 3px #929292

				form
					background-color #dfdfdf
					display block
					vertical-align top
					margin 0
					padding 0

					h4
						background-color #929292
						width 100%
						color #fafbfb
						font-family Arial
						font-size 1.2em
						font-weight 700
						vertical-align top
						text-align center
						margin 0 0 17px 0
						padding 18px 0 10px 0

					.cajonesForm
						border none
						width 200px
						height 18px
						margin 9px 0 9px 25px
						padding 2px 0 2px 8px
						background-color white
						font-family Arial
						font-size 0.7em
						font-weight 400

					.cajonesFormB
						border none
						width 200px
						height 50px
						margin 7px 0 7px 25px
						padding 2px 0 2px 8px
						background-color white
						font-family Arial
						font-size 0.7em
						font-weight 400

					.botonForm
						background-color #0071b5
						border none
						border-radius 5px
						padding 3px
						height 30px
						width 80px
						margin 15px 0 28px 90px
						color white
						box-shadow 0px 2px 3px #929292

			.accesosExtras, .accesosIndustrias
				float right
				margin 0
				width 805px
				vertical-align top
				display block

			.accesosIndustrias
				height 230px

				.ca-container
					position relative
					margin 0px auto
					width 760px
					height 230px
				
				.ca-wrapper
					width 100%
					height 100%
					position relative
				
				.ca-item
					position absolute
					float left
					width 253px
					height 100%
					text-align center
				
				.ca-more
					position absolute
					bottom 4px
					right 5px 
					font-weight 400
					text-align center
					color #0071b5
					font-family Arial
					font-style italic
					font-size 0.7em
					text-decoration none
				
				.ca-close
					position absolute
					top 10px
					right 10px
					background #fff url(../images/cross.png) no-repeat center center;
					width 27px
					height 27px
					text-indent -9000px
					outline none 
					-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
					-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
					box-shadow 1px 1px 2px rgba(0,0,0,0.2);
					opacity 0.7
				
				.ca-close:hover
					opacity 1.0
				
				.ca-item-main
					padding 0px
					position absolute
					top 0px
					left 10px
					right 10px
					bottom 5px 
					background #fff
					overflow hidden
					-moz-box-shadow 1px 2px 3px #acacac
					-webkit-box-shadow 1px 2px 3px #acacac
					box-shadow 1px 2px 3px #acacac
					border solid 1px #acacac
					border-radius 3px
				
				.ca-icon
					width 233px
					height 95px
					position relative 
					margin 0 auto
					background:transparent url(../img/industrias1.jpg) no-repeat center center;
				
				.ca-item-2 .ca-icon
					background-image:url(../img/industrias2.jpg);
				
				.ca-item-3 .ca-icon
					background-image:url(../img/industrias3.jpg);
				
				.ca-item-4 .ca-icon
					background-image:url(../img/industrias2.jpg);
				
				.ca-item-5 .ca-icon
					background-image:url(../img/industrias1.jpg);
				
				.ca-item-6 .ca-icon
					background-image:url(../img/industrias3.jpg);
				
				.ca-item-7 .ca-icon
					background-image:url(../img/industrias2.jpg);
				
				.ca-item-8 .ca-icon
					background-image:url(../img/industrias3.jpg);
				
				.ca-item h3
					font-family Arial
					text-transform uppercase
					font-size 0.95em
					font-weight 600
					color #4d4d4d
					margin 7px 0 4px 10px
					text-align left
				
				.ca-item h4
					font-family Arial
					font-size 12px
					font-weight 400
					color #4d4d4d
					text-align justify
					position relative
					vertical-align top
					width 205px
					margin 5px auto				
				
				.ca-content-wrapper
					background #ebebeb
					position absolute
					width 0px /* expands to width of the wrapper minus 1 element */
					height 440px
					top 5px
					text-align left
					z-index 10000
					overflow hidden
				
				.ca-content
					width 490px
					overflow hidden
				
				.ca-content-text
					font-size 12px
					font-style italic
					font-family "Arial"
					margin:0px 20px
					padding 10px 20px
					color #4d4d4d
					line-height 14px
				
				.ca-content-text p
					padding-bottom 5px
				
				.ca-content h6
					margin 25px 20px 0px 35px
					font-size 20px
					padding-bottom 5px
					color #4d4d4d
					font-family "Arial"
					border-bottom 2px solid #4d4d4d
					text-shadow 1px 1px 1px #99BCB4
				
				.ca-content ul
					margin 20px 35px
					height 30px
				
				.ca-content ul li
					float left
					margin 0px 2px
				
				.ca-content ul li a
					color #fff
					background #000
					padding 3px 6px
					font-size 14px
					font-family "Georgia","Times New Roman",serif
					font-style italic
				
				.ca-content ul li a:hover
					background #fff
					color #000
					text-shadow none
				
				.ca-nav span
					width 15px
					height 28px
					background transparent url(../images/arrows.png) no-repeat top left
					position absolute
					top 50%
					margin-top -19px
					left -20px
					text-indent -9000px
					opacity 0.7 
					cursor pointer
					z-index 100 
				
				.ca-nav span.ca-nav-next
					background-position top right
					left auto
					right -20px
				
				.ca-nav span:hover
					opacity 1.0
				

			.accesosExtras
				margin -150px 0 0 0 
				padding 0

				.botonAccesoExtras
					display inline-block 
					vertical-align top
					margin 0 30px 0 0
					border-radius 4px 
					width 350px
					border-left solid 20px #c5c5c5
					height 145px
					padding 0

					a
						text-decoration none

						h5
							margin 0
							padding 2px 0 3px 10px
							font-family Arial
							font-size 0.88em
							font-weight 700
							color #4d4d4d
							width 100%
							border-bottom-style dotted
							border-color #c5c5c5
							border-width 1px

						span
							padding 10px 0 0 10px
							display block
							margin 0
							width 350px

							figure
								margin 0
								padding 3px
								width 85px
								display inline-block
								height 100px

								img
									display inline-block
									width 83px
									padding 0
									margin 0
									height 95px


							h3, p
								float right

							h3
								display inline-block
								width 250px
								vertical-align top
								margin 0
								padding 0
								font-family Arial
								font-size 0.8em
								font-weight 600
								color #4d4d4d

							p
								font-family Arial
								font-size 0.75em
								font-weight 400
								text-align justify
								color #4d4d4d
								width 250px
								margin -87px 0 0 0
								padding 0
								vertical-align top
								display inline-block

							.linkVerMas a
								font-family Arial
								font-size 0.65em
								font-weight 600
								color #f4a93b
								text-decoration none
								float right 
								position relative
								top -7px
								left 0px

	footer
		width 100%
		margin 10px 0 0 0

		.foot1
			width 100%
			background-color #ebebeb
			padding 20px 0 50px 0

			ul 
				text-decoration none
				width 1150px
				margin 0 auto
				padding 0
				
				li
					display inline-block
					text-decoration none
					width 186px
					margin 10px 0 0 0
					padding 0
					vertical-align top

					a
						text-decoration none
						font-family Arial
						font-weight bold
						font-size 0.8em
						color #4d4d4d
						margin 0
						padding 0

					ul
						border none
						margin 0
						padding 0
						width 200px

						.botonMarcas
							display block
							border none
							width 170px
							margin 1px 0
							padding 0

							a
								font-weight normal
								text-decoration none

							a:hover
								color #0071b5
								border-bottom solid 1px #0071b5	

						li 
							display block
							text-decoration none
							a 
								text-decoration none
								border none

								img
									width 100px
									margin-bottom 5px

		.foot2
			width 100%
			
			.gridFoot2 
				text-decoration none
				width 1150px
				margin 0 auto
				padding 10px 0


				.pieGeo, .gridRedes
					width 450px
					vertical-align middle
					display inline-block

					p, img
						display inline-block
						vertical-align middle

					p
						font-family Arial
						font-size 0.7em
						color #4d4d4d
						letter-spacing 1px
						margin-right 20px				

				.gridRedes
					position relative
					left 400px
					margin 0
					padding 0
					height 100px

					p
						vertical-align middle
						position relative
						top 28px

					ul li
						display inline-block
						text-decoration none
						margin 0
						position relative
						top -20px
						left 100px

						figure
							display inline-block
							width 45px

							.icoFb, .icoT, .icoL, .icoY
								width 25px
								margin 0 5px
								padding 0
						

							.icoFbcolor, .icoTcolor, .icoLcolor, .icoYcolor
								width 25px
								display none

							.icoFbcolor
								position absolute
								top 0px
								left 5px

							.icoTcolor
								position absolute
								top 0px
								left 5px

							.icoLcolor
								position absolute
								top 0px
								left 5px

							.icoYcolor
								position absolute
								top 0px
								left 5px

				.pieGeo
					img
						width 130px

		.foot3
			width 100%
			background-color #929292
			margin 0
			padding 10px 0

			.gridFoot3
				text-decoration none
				width 380px
				margin 0 auto
				padding 5px 0

				img
					margin-top 5px
					width 350px

				
				
