@import "iconos.styl"


body
	background-color #fafbfb
	border none

	header	
		margin 0 auto
		width 1148px
		padding 0

		figure a
			display block
			width 300px
			height 60px
			text-decoration none
			margin 45px 0 17px 20px
			padding 0

			img
				display block
				width 255px
				margin 0
				padding 0

		div
			width 400px
			height 60px
			padding 0
			margin -80px 0 17px 0
			float right 

			p, figure, input,button
				display inline-block

			p
				font-family Arial				
				font-weight 400
				font-size 14px
				color #0071b5
				width 170px

			figure
				height 25px
				width 33px
				position relative
				top 7px
				right 5px

				img
					width 100%

			input
				width 150px
				background-color #dfdfdf
				color #4d4d4d
				font-family Arial				
				font-size 0.70em
				border none
				padding 7px 0 7px 5px
				margin 0
				position relative
				right -5px

			button
				border none
				margin 0
				position relative
				top 3px
				left 0px
				padding 5px
				height 26px
				width 28px
				background-color #0071b5

				span
					font-size 1em
					color white

		nav
			width 100%
			height 27px
			padding 0
			border-bottom solid #c5c5c5 1px
			position relative
			z-index 9999


			ul
				padding 0
				margin 0
				display inline-block

				li
					display inline-block
					border-right solid 1px #acacac
					border-left solid 1px white
					text-decoration none
					width 189.5px
					height 28px
					padding 0
					margin 0 -2px
					vertical-align top
					cursor pointer
					
					a
						margin 0
						padding 0
						width 100%
						height 100%
						text-decoration none

						p, img
							display inline-block
							vertical-align middle
							margin 7px 0 

						p
							margin 5px 0 0 23px
							font-family Arial							
							font-size 0.8em
							letter-spacing 1px
							color #4d4d4d
							


						img
							float right
							margin 8px 20px 0 0
							width 13px

						.icoFlechaSelect1, .icoFlechaSelect2, .icoFlechaSelect3, .icoFlechaSelect4
							position relative
							left 33px
							display none


					ul 
						width 200px
						display none
						padding 10px
						margin 0
						background-color #0071b5
						position relative
						top 6px
						z-index 8888

						li
							display block
							width 175px
							margin 0 auto
							border-left none
							border-right none
							border-bottom-style dotted
							border-color white
							border-width 1px
							padding 5px 0 2px 0
							height 22px

							a
								text-decoration none
								font-family Arial								color white
								font-size 0.6em
								margin 0
								padding 0
								vertical-align middle
								color white

							a:hover
								color #f4a93b

						.botonesSx
							border none

				.subnav
					margin-left -30px


	.contenedor
		width 1150px
		margin 0 auto
		padding 25px 0 0 0


		.bannerEstatico
			width 99.8%
			margin 0 0 25px 0

			img
				width 100%

		.listaCategorias
			width 235px
			background-color #dfdfdf
			margin 0
			padding 0 0 100px 0
			overflow hidden
			position absolute
			height 580px
			top 345px


			h3
				width 100%
				height 30px
				font-family Arial				
				font-weight 600
				font-size 0.8em
				color #4d4d4d
				margin 0
				padding 30px 20px 10px 30px 
				border-bottom solid 2px white

		
			ul
				text-decoration none
				margin 0
				padding 0
				list-style-type none

				.categorias,
					text-decoration none
					width 100%
					height 100%
					padding 0px
					cursor pointer

					p
						font-family Arial						
						font-size 0.8em
						margin 0
						padding 8px 30px
						height 100%
						font-weight 500
						color #4d4d4d
						text-decoration none
						border-bottom solid 1px white
						border-top solid 1px white

					p:hover
						background-color #0071b5
						color white

					.pSelect
						font-family Arial						
						font-size 0.8em
						margin 0
						padding 8px 30px
						height 100%
						font-weight 500
						color white
						background-color #0071b5
						text-decoration none
						border-bottom solid 1px white
						border-top solid 1px white

					ul
						display block
						text-decoration none
						position relative
						top 7px
						padding 0 0 0 28px
						list-style none
						width 100%
						height 360px
						

						li
							text-decoration none
							width 100%
							font-family Arial							
							font-weight 400
							font-size 0.7em
							color #4d4d4d
							margin 8px 0px 0px -8px
							pagging 0
							border none
							cursor pointer

						li:before
							content: "• ";
							color: #0071b5;
							font-size: 1.2em
							font-weight 900
							padding-right 2px

						li:hover
							color #0071b5



					.nomuestra
						display none

				
		.mostrador
			display block
			width 865px
			padding 0px 0px 10px 55px
			margin 0px 0 0 238px


			.descripcionCategoria
				width 100%
				height 100px
				margin 0 5px 0px 15px
				padding 10px 0 0 0
				display block

				h2
					font-family Arial					
					font-size 1em
					font-weight 600
					color #4d4d4d
					letter-spacing 1px
					margin 0 0 7px 0
					padding 0
					
				p
					margin 0
					font-family Arial					
					color #4d4d4d
					font-size 0.8em
					font-weight 400	

			

			.vitrina
				width 100%
				padding 0
				display block
				margin 0 0 20px 0

				div

					width 253px
					border solid 1px #acacac
					margin 0 15px 30px 15px
					border-radius 3px
					box-shadow 0px 2px 1px #acacac
					height 273px
					display inline-block
					background-color #fafbfb
					vertical-align top
					cursor pointer

					a
						text-decoration none
						display block

						figure
							width 100%
							height 100px
							margin 0 0 15px 0
							padding 0

							img
								width 253px
								height 100%

						h1, h2
							font-family Arial							
							margin 5px auto
							padding 0
							color #4d4d4d
							vertical-align top
						h1
							font-size 0.9em
							font-weight 700
							width 220px
							text-align left
							margin-bottom 4px

						h2
							font-size 11.4px
							font-weight 400
							width 220px
							height 45px
							margin-top 10px
							text-align justify						

				div:hover
					border solid 1px #0071b5
					box-shadow 0px 2px 1px #0071b5
					transition 0.3s linear


	footer
		width 100%
		margin 10px 0 0 0

		.foot1
			width 100%
			background-color #ebebeb
			padding 20px 0 50px 0

			ul 
				text-decoration none
				width 1150px
				margin 0 auto
				padding 0
				
				li
					display inline-block
					text-decoration none
					width 186px
					margin 10px 0 0 0
					padding 0
					vertical-align top

					a
						text-decoration none
						font-family Arial						
						font-weight bold
						font-size 0.8em
						color #4d4d4d
						margin 0
						padding 0

					ul
						border none
						margin 0
						padding 0
						width 200px

						.botonMarcas
							display block
							border none
							width 170px
							margin 1px 0
							padding 0

							a
								font-weight normal
								text-decoration none

							a:hover
								color #0071b5
								border-bottom solid 1px #0071b5	

						li 
							display block
							text-decoration none
							a 
								text-decoration none
								border none

								img
									width 100px
									margin-bottom 5px

		.foot2
			width 100%
			
			.gridFoot2 
				text-decoration none
				width 1150px
				margin 0 auto
				padding 10px 0


				.pieGeo, .gridRedes
					width 410px
					vertical-align middle
					display inline-block

					p, img
						display inline-block
						vertical-align middle

					p
						font-family Arial						
						font-size 0.7em
						color #4d4d4d
						letter-spacing 1px
						margin-right 20px				

				.gridRedes
					position relative
					left 400px
					margin 0
					padding 0
					height 100px

					p
						vertical-align middle
						position relative
						top 28px

					ul li
						display inline-block
						text-decoration none
						margin 0
						position relative
						top -20px
						left 100px

						figure
							display inline-block
							width 45px

							.icoFb, .icoT, .icoL, .icoY
								width 25px
								margin 0 5px
								padding 0
						

							.icoFbcolor, .icoTcolor, .icoLcolor, .icoYcolor
								width 25px
								display none

							.icoFbcolor
								position absolute
								top 0px
								left 5px

							.icoTcolor
								position absolute
								top 0px
								left 5px

							.icoLcolor
								position absolute
								top 0px
								left 5px

							.icoYcolor
								position absolute
								top 0px
								left 5px

				.pieGeo
					img
						width 130px

		.foot3
			width 100%
			background-color #929292
			margin 0
			padding 10px 0

			.gridFoot3
				text-decoration none
				width 380px
				margin 0 auto
				padding 5px 0

				img
					margin-top 5px
					width 350px